swagger: '2.0'
info:
  title: Pinnacle API
  version: "1.0.0"
host: api.pinnacle.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
securityDefinitions:
  basicAuth:
    type: basic
    description: HTTP Basic Authentication. Works over `HTTP` and `HTTPS`.
security:
  - basicAuth: []
paths:
  /fixtures:
    get:
      summary: Returns all non-settled events.
      description: |
        Please note that it is possible that the event is in Get Fixtures response but not in Get Odds.
        This happens when the odds have not been set yet for the event.
        Please note that it is possible to receive the same exact response when using "since" parameter.
        This is rare and can be caused by internal updates of event's properties.
      tags:
        - Fixture
      parameters:
        - name: sportId
          in: query
          description: The sport id for which to retrieve the fixutres
          required: true
          type: integer
          format: int32
        - name: leagueIds
          in: query
          description: The leagueIds array may contain a list of comma separated league ids
          required: false
          type: array
          collectionFormat: csv
          items:
            type: integer
            format: int64
        - name: since
          in: query
          description: |
            This is used to receive incremental updates. Use the value of last from previous fixtures response.
            When since parameter is not provided, the fixtures are delayed up to 1 min to encourage the use of the parameter
          required: false
          type: integer
          format: int64
        - name: islive
          in: query
          description: |
            To retrieve ONLY live events set the value to islive =1.
            Any other value will result in retrieval of events regardless of their Live status

            * `0` - False
            * `1` - True
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/GetFixturesResponse'
  /fixtures/settled:
    get:
      summary: Returns fixtures settled in the last 24 hours
      tags:
        - Fixture
      parameters:
        - name: sportId
          in: query
          description: The sport id for which to retrieve the fixutres
          required: true
          type: integer
          format: int32
        - name: leagueIds
          in: query
          description: The leagueIds array may contain a list of comma separated league ids
          required: false
          type: array
          collectionFormat: csv
          items:
            type: integer
            format: int64
        - name: since
          in: query
          description: |
            This is used to receive incremental updates. Use the value of last from previous fixtures response.
            When since parameter is not provided, the fixtures are delayed up to 1 min to encourage the use of the parameter
          required: false
          type: integer
          format: int64
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/GetSettledFixturesResponse'
  /fixtures/special:
    get:
      summary: Returns all non-settled specials (contests).
      description: |
        Please note that it is possible that the event is in Get Special Fixtures response but not in Get Special Odds.
        This happens when the odds have not been set yet for the event.
        Please note that it is possible to receive the same exact response when using "since" parameter.
        This is rare and can be caused by internal updates of event's properties.
      tags:
        - Fixture
      parameters:
        - name: sportId
          in: query
          description: The sport id for which to retrieve the fixutres
          required: true
          type: integer
          format: int32
        - name: leagueIds
          in: query
          description: The leagueIds array may contain a list of comma separated league ids
          required: false
          type: array
          collectionFormat: csv
          items:
            type: integer
            format: int64
        - name: category
          in: query
          description: Category of the special
          required: false
          type: string
        - name: eventId
          in: query
          description: Event id of the linked event
          required: false
          type: integer
          format: int64
        - name: specialId
          in: query
          description: Specific special Id
          required: false
          type: integer
          format: int64
        - name: since
          in: query
          description: |
            This is used to receive incremental updates. Use the value of last from previous fixtures response.
            When since parameter is not provided, the fixtures are delayed up to 1 min to encourage the use of the parameter
          required: false
          type: integer
          format: int64
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/GetSpecialFixturesResponse'
  /fixtures/special/settled:
    get:
      summary: Returns special fixtures settled in the last 24 hours
      tags:
        - Fixture
      parameters:
        - name: sportId
          in: query
          description: The sport id for which to retrieve the fixutres
          required: true
          type: integer
          format: int32
        - name: leagueIds
          in: query
          description: The leagueIds array may contain a list of comma separated league ids
          required: false
          type: array
          collectionFormat: csv
          items:
            type: integer
            format: int64
        - name: since
          in: query
          description: |
            This is used to receive incremental updates. Use the value of last from previous fixtures response.
            When since parameter is not provided, the fixtures are delayed up to 1 min to encourage the use of the parameter
          required: false
          type: integer
          format: int64
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/GetSettledSpecialFixturesResponse'
  /teaser/groups:
    get:
      summary: Returns all teaser groups.
      tags:
        - Teaser
      parameters:
        - name: oddsFormat
          in: query
          description: Format the odds are returned in.
          required: true
          type: string
          enum:
            - AMERICAN
            - DECIMAL
            - HONGKONG
            - INDONESIAN
            - MALAY
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/GetTeaserGroupsResponse'
  /odds:
    get:
      summary: Returns straight and parlay odds for all non-settled events.
      description: |
        Please note that it is possible that the event is in Get Fixtures response but not in Get Odds.
        This is happens when the odds have not been set yet for the event.
      tags:
        - Odds
      parameters:
        - name: sportId
          in: query
          description: The sportid for which to retrieve the odds.
          required: true
          type: integer
          format: int32
        - name: leagueIds
          in: query
          description: The leagueIds array may contain a list of comma separated league ids
          required: false
          type: array
          collectionFormat: csv
          items:
            type: integer
            format: int64
        - name: since
          in: query
          description: |
            This is used to receive incremental updates. Use the value of last from previous odds response.
            When since parameter is not provided, the odds are delayed up to 1 min to encourage the use of the parameter.
            Please note that when using since parameter you will get in the response ONLY changed periods. If a period didn’t have any changes it will not be in the response.
          required: false
          type: integer
          format: int64
        - name: islive
          in: query
          description: |
            To retrieve ONLY live events set the value to islive =1.
            Any other value will result in retrieval of events regardless of their Live status

            * `0` - False
            * `1` - True
          required: false
          type: integer
          format: int32
          enum:
            - 0
            - 1
        - name: oddsFormat
          in: query
          description: Format the odds are returned in.
          required: false
          type: string
          enum:
            - AMERICAN
            - DECIMAL
            - HONGKONG
            - INDONESIAN
            - MALAY
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/GetOddsResponse'
  /odds/teaser:
    get:
      summary: Returns odds for specified teaser.
      tags:
        - Odds
      parameters:
        - name: teaserId
          in: query
          description: |
            Unique identifier.
            Teaser details can be retrieved from a call to Get Teaser Groups endpoint.
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/GetTeaserOddsResponse'
  /odds/special:
    get:
      summary: Returns special odds for all non-settled events.
      description: |
        Please note that it is possible that the event is in Get Special Fixtures response but not in Get Special Odds.
        This happens when the odds have not been set for the event.
      tags:
        - Odds
      parameters:
        - name: sportId
          in: query
          description: The sportid for which to retrieve the odds.
          required: true
          type: integer
          format: int32
        - name: leagueIds
          in: query
          description: The leagueIds array may contain a list of comma separated league ids.
          required: false
          type: array
          collectionFormat: csv
          items:
            type: integer
            format: int64
        - name: since
          in: query
          description: |
            This is used to receive incremental updates. Use the value of last from previous odds response.
            When since parameter is not provided, the odds are delayed up to 1 min to encourage the use of the parameter.
            Please note that when using since parameter you will get in the response ONLY changed periods. If a period didn’t have any changes it will not be in the response.
          required: false
          type: integer
          format: int64
        - name: specialId
          in: query
          description: Specific special id
          required: false
          type: integer
          format: int64
        - name: oddsFormat
          in: query
          description: Format in which we return the odds. Default is American.
          required: false
          type: string
          enum:
            - AMERICAN
            - DECIMAL
            - HONGKONG
            - INDONESIAN
            - MALAY
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/GetSpecialOddsResponse'
definitions:
  GetFixturesResponse:
    type: object
    properties:
      sportId:
        type: integer
        format: int32
        description: Same as requested sport Id
      last:
        type: integer
        format: int64
        description: Use this value for the subsequent requests for since query parameter to get just the changes since previous response
      league:
        type: array
        description: Contains a list of Leagues
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
              description: League ID
            events:
              type: array
              description: Contains a list of events
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Event ID
                  starts:
                    type: string
                    format: date-time
                    description: Start time of the event in UTC
                  home:
                    type: string
                    description: Home team name
                  away:
                    type: string
                    description: Away team name
                  rotNum:
                    type: string
                    description: Team1 rotation number
                  liveStatus:
                    type: integer
                    format: int32
                    description: |
                      Indicates event’s live status

                      * `0` - No live betting will be offered on this event.
                      * `1` - Live betting event.
                      * `2` - Live betting will be offered on this event.
                    enum:
                      - 0
                      - 1
                      - 2
                  status:
                    type: string
                    description: |
                      Status of the event

                      * `H` - This status indicates that the lines are temporarily unavailable for betting.
                      * `I` - This status indicates that one or more lines have a red circle (a lower maximum bet amount).
                      * `O` - This is the starting status of a game. It means that the lines are open for betting.
                    enum:
                      - H
                      - I
                      - O
                  parlayRestriction:
                    type: integer
                    format: int32
                    description: |
                      Parlay status of the event

                      * `0` - Allowed to parlay, without restrictions.
                      * `1` - Not allowed to parlay this event.
                      * `2` - Allowed to parlay, with the restrictions. You can not have more than one leg from the same event in the parlay. All events with the same rot number are treated as the same event.
                    enum:
                      - 0
                      - 1
                      - 2
                  homePitcher:
                    type: string
                    description: Home team pitcher. Only for baseball.
                  awayPitcher:
                    type: string
                    description: Away team pitcher. Only for baseball.
  GetSettledFixturesResponse:
    type: object
    properties:
      sportId:
        type: integer
        format: int32
        description: Same as requested sport Id
      last:
        type: integer
        format: int64
        description: Use this value for the subsequent requests for since query parameter to get just the changes `since` previous response
      leagues:
        type: array
        description: Contains a list of Leagues
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
              description: League ID
            events:
              type: array
              description: Contains a list of events
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Event ID
                  periods:
                    type: array
                    description: Contains a list of periods
                    items:
                      type: object
                      properties:
                        number:
                          type: integer
                          format: int32
                          description: |
                            This represents the period of the match. For example, for soccer we have:

                            * `0` - Game
                            * `1` - 1st Half
                            * `2` - 2nd Half
                        settlementId:
                          type: integer
                          format: int64
                          description: |
                            Unique id of the settlement. In case of a re-settlement, a new settlementId and settledAt will be generated.
                        settledAt:
                          type: string
                          format: date-time
                          description: Date and time when teh period was settled
                        status:
                          type: integer
                          format: int32
                          description: |
                            Period settlement status

                            * `1` - Event period is settled
                            * `2` - Event period is re-settled
                            * `3` - Event period is cancelled
                            * `4` - Event period is re-settled as cancelled
                            * `5` - Event is deleted
                          enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                        team1Score:
                          type: integer
                          format: int32
                          description: Team1 score
                        team2Score:
                          type: integer
                          format: int32
                          description: Team2 score
  GetSpecialFixturesResponse:
    type: object
    properties:
      sportId:
        type: integer
        format: int32
        description: Same as requested sport Id
      last:
        type: integer
        format: int64
        description: Use this value for the subsequent requests for since query parameter to get just the changes since previous response
      leagues:
        type: array
        description: Contains a list of Special Leagues
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
              description: League ID
            specials:
              type: array
              description: Contains a list of specials
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Special ID
                  betType:
                    type: string
                    description: SPREAD
                  name:
                    type: string
                    description: Special name
                  date:
                    type: string
                    format: date-time
                    description: Creation date and time of the special in UTC
                  cutoff:
                    type: string
                    format: date-time
                    description: Start time of the special in UTC
                  category:
                    type: string
                    description: Category under which the special is recorded
                  units:
                    type: string
                    description: Measurement in the context of the special. Applicable to Spread and Over/Under special bet types. For hockey specials this could be "goals"
                  status:
                    type: string
                    description: |
                      Status of the special

                      * `H` - This status indicates that the lines are temporarily unavailable for betting.
                      * `I` - This status indicates that one or more lines have a red circle (a lower maximum bet amount).
                      * `O` - This is the starting status of a game. It means that the lines are open for betting.
                    enum:
                      - H
                      - I
                      - O
                  contestants:
                    type: array
                    description: List of contestants
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: Contestant ID
                        name:
                          type: string
                          description: Contestant name
                        rotNum:
                          type: integer
                          format: int32
                          description: Rotation number
  GetSettledSpecialFixturesResponse:
    type: object
    properties:
      sportId:
        type: integer
        format: int32
        description: Same as requested sport Id
      last:
        type: integer
        format: int64
        description: Use this value for the subsequent requests for since query parameter to get just the changes since previous response
      leagues:
        type: array
        description: Contains a list of Special Leagues
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
              description: League ID
            specials:
              type: array
              description: Contains a list of specials
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Special ID
                  status:
                    type: integer
                    format: int32
                    description: |
                      Status of settled special fixture

                      * `1` - Event period is settled
                      * `2` - Event period is re-settled
                      * `3` - Event period is cancelled
                      * `4` - Event period is re-settled as cancelled
                      * `5` - Event is deleted
                    enum:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                  settlementId:
                    type: integer
                    format: int64
                    description: Id of the settlement
                  settledAt:
                    type: string
                    format: date-time
                    description: Date and Time of the settlement in UTC
  GetTeaserGroupsResponse:
    type: object
    properties:
      teaserGroups:
        type: array
        description: A collection of TeaserGroups containing available teasers.
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
              description: Unique identifier.
            name:
              type: string
              description: Human friendly name.
            teasers:
              type: array
              description: A collection of Teaser.
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Unique identifier.
                  description:
                    type: string
                    description: Human friendly description.
                  sportId:
                    type: integer
                    format: int32
                    description: |
                      Unique identifier.
                      Sport details can be retrieved from a call to Get Sports endpoint.
                  minLegs:
                    type: integer
                    format: int32
                    description: Minimum number of legs that must be selected.
                  maxLegs:
                    type: integer
                    format: int32
                    description: Maximum number of legs that can be selected.
                  sameEventOnly:
                    type: boolean
                    description: If true then all legs must be from the same event, otherwise legs can be from different events.
                  payouts:
                    type: array
                    description: A collection of Payout indicating all possible payout combinations.
                    items:
                      type: object
                      properties:
                        numberOfLegs:
                          type: integer
                          format: int32
                          description: Number of legs that must be bet and won on to get the associated price.
                        price:
                          type: number
                          format: float
                          description: Price of the bet given the specified number of legs.
                  league:
                    type: array
                    description: A collection of Leagues available to the teaser.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: |
                            Unique identifier.
                            League details can be retrieved from a call to Get Leagues endpoint.
                        spread:
                          type: object
                          description: The number of points the spread line will be teased by.
                          properties:
                            points:
                              type: number
                              format: float
                              description: Number of points the main spread line will be teased for the given league.
                        total:
                          type: object
                          description: The number of points the total line will be teased by.
                          properties:
                            points:
                              type: number
                              format: float
                              description: Number of points the main total line will be teased for the given league.
  GetOddsResponse:
    type: object
    properties:
      sportId:
        type: integer
        format: int32
        description: Same as requested sport Id
      last:
        type: integer
        format: int64
        description: Use this value for the subsequent requests for since query parameter to get just the changes since previous response
      leagues:
        type: array
        description: Contains a list of Leagues
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
              description: League ID
            events:
              type: array
              description: Contains a list of events
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Event ID
                  periods:
                    type: array
                    description: Contains a list of periods
                    items:
                      type: object
                      properties:
                        lineId:
                          type: integer
                          format: int64
                          description: Line ID
                        number:
                          type: integer
                          format: int32
                          description: |
                            This represents the period of the match. For example, for soccer we have:

                            * `0` - Game
                            * `1` - 1st Half
                            * `2` - 2nd Half
                        cutoff:
                          type: string
                          format: date-time
                          description: Period’s wagering cut-off date
                        spreads:
                          type: array
                          description: Container for spread odds
                          items:
                            type: object
                            properties:
                              altLineId:
                                type: integer
                                format: int64
                                description: This is present only if it’s alternative line.
                              hdp:
                                type: number
                                format: float
                                description: Home team handicap
                              away:
                                type: number
                                format: float
                                description: Away team price
                              home:
                                type: number
                                format: float
                                description: Away team price
                        totals:
                          type: array
                          description: Container for total odds
                          items:
                            type: object
                            properties:
                              altLineId:
                                type: integer
                                format: int64
                                description: This is present only if it’s alternative line.
                              points:
                                type: number
                                format: float
                                description: Total points
                              over:
                                type: number
                                format: float
                                description: Over price
                              under:
                                type: number
                                format: float
                                description: Under price
                        moneyLine:
                          type: object
                          description: Container for moneyLine odds
                          properties:
                            home:
                              type: number
                              format: float
                              description: Away team price
                            away:
                              type: number
                              format: float
                              description: Home team price
                            draw:
                              type: number
                              format: float
                              description: Draw price. This is present only for events we offer price for draw.
                        teamTotal:
                          type: object
                          description: Container for team total points
                          properties:
                            away:
                              type: number
                              format: float
                              description: Away team total points
                            home:
                              type: number
                              format: float
                              description: Home team total points
                        maxSpread:
                          type: number
                          format: float
                          description: Maximum spread bet. Only in straight odds response.
                        maxTotal:
                          type: number
                          format: float
                          description: Maximum total points bet. Only in straight odds response.
                        maxMoneyLine:
                          type: number
                          format: float
                          description: Maximum moneyline bet. Only in straight odds response.
                        maxTeamTotal:
                          type: number
                          format: float
                          description: Maximum team total points bet. Only in straight odds response.
                  awayScore:
                    type: number
                    format: float
                    description: Away team score. Only for live soccer events.
                  homeScore:
                    type: number
                    format: float
                    description: Home team score. Only for live soccer events.
                  awayRedCards:
                    type: integer
                    format: int32
                    description: Away team red cards. Only for live soccer events.
                  homeRedCards:
                    type: integer
                    format: int32
                    description: Home team red cards. Only for live soccer events.
  GetTeaserOddsResponse:
    type: object
    properties:
      teaserId:
        type: integer
        format: int64
        description: |
          Unique identifier.
          Teaser details can be retrieved from a call to Get Teaser Groups endpoint.
      sportId:
        type: integer
        format: int32
        description: |
          Unique identifier.
          Sport details can be retrieved from a call to Get Sports endpoint.
      leagues:
        type: array
        description: Contains a list of Leagues
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
              description: |
                Unique identifier.
                League details can be retrieved from a call to Get Leagues endpoint.
            events:
              type: array
              description: Contains a list of events
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Unique identifier.
                  periods:
                    type: array
                    description: A collection of Period indicating the period numbers available for betting.
                    items:
                      type: object
                      properties:
                        lineId:
                          type: integer
                          format: int64
                          description: Unique identifier.
                        number:
                          type: integer
                          format: int32
                          description: |
                            Period of the match that is being bet on.
                            Refer to Period Number lookup table.
                        spread:
                          type: object
                          description: Teased spread line.
                          properties:
                            maxBet:
                              type: number
                              format: float
                              description: Maximum bet amount.
                            homeHdp:
                              type: number
                              format: float
                              description: |
                                Home team handicap.
                                Refer to Get Fixtures endpoint to determine home and away teams.
                            awayHdp:
                              type: number
                              format: float
                              description: |
                                Away team handicap.
                                Refer to Get Fixtures endpoint to determine home and away teams.
                        total:
                          type: object
                          description: Teased total line.
                          properties:
                            maxBet:
                              type: number
                              format: float
                              description: Maximum bet amount.
                            overPoints:
                              type: number
                              format: float
                              description: Over points.
                            underPoints:
                              type: number
                              format: float
                              description: Under points.
  GetSpecialOddsResponse:
    type: object
    properties:
      sportId:
        type: integer
        format: int32
        description: Same as requested sport Id
      last:
        type: integer
        format: int64
        description: Use this value for the subsequent requests for since query parameter to get just the changes since previous response
      leagues:
        type: array
        description: Contains a list of Leagues
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
              description: League ID
            specials:
              type: array
              description: Contains a list of specials
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Event ID
                  maxRisk:
                    type: number
                    format: float
                    description: Max risk bet set for the special
                  contestantLines:
                    type: array
                    description: Contais a list of contestant lines
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          description: Contestant id
                        lineId:
                          type: integer
                          format: int64
                          description: Line Id
                        price:
                          type: number
                          format: float
                          description: Contestant price
                        handicap:
                          type: number
                          format: float
                          description: Handicap value for the given contestant
