swagger: '2.0'
info:
  title: Pinnacle API
  version: "1.0.0"
host: api.pinnacle.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
securityDefinitions:
  basicAuth:
    type: basic
    description: HTTP Basic Authentication. Works over `HTTP` and `HTTPS`.
security:
  - basicAuth: []
paths:
  /fixtures:
    get:
      summary: Returns all non-settled events.
      description: |
        Please note that it is possible that the event is in Get Fixtures response but not in Get Odds.
        This happens when the odds have not been set yet for the event.
        Please note that it is possible to receive the same exact response when using "since" parameter.
        This is rare and can be caused by internal updates of event's properties.
      tags:
        - name: Fixture
      parameters:
        - name: sportId
          in: query
          description: The sport id for which to retrieve the fixutres
          required: true
          type: integer
          format: int32
        - name: leagueIds
          in: query
          description: The leagueIds array may contain a list of comma separated league ids
          required: false
          type: string
        - name: since
          in: query
          description: |
            This is used to receive incremental updates. Use the value of last from previous fixtures response.
            When since parameter is not provided, the fixtures are delayed up to 1 min to encourage the use of the parameter
          required: false
          type: integer
          format: int64
        - name: islive
          in: query
          description: |
            To retrieve ONLY live events set the value to islive =1.
            Any other value will result in retrieval of events regardless of their Live status
          required: false
          type: integer
          format: int32
      responses:
        200:
          description: Array of Sport type
          schema:
            $ref: '#/definitions/GetFixturesResponse'
  /fixtures/settled:
    get:
      summary: Returns fixtures settled in the last 24 hours
      tags:
        - name: Fixture
      parameters:
        - name: sportId
          in: query
          description: Sport id for which the leagues are requested
          required: true
          type: integer
      responses:
        200:
          description: Array of Sport type
          schema:
            $ref: '#/definitions/SportList'
  /fixtures/special:
    get:
      summary: Returns all non-settled specials (contests).
      description: |
        Please note that it is possible that the event is in Get Special Fixtures response but not in Get Special Odds.
        This happens when the odds have not been set yet for the event.
        Please note that it is possible to receive the same exact response when using "since" parameter.
        This is rare and can be caused by internal updates of event's properties.
      tags:
        - name: Fixture
      parameters:
        - name: sportId
          in: query
          description: Sport id for which the leagues are requested
          required: true
          type: integer
      responses:
        200:
          description: Array of Sport type
          schema:
            $ref: '#/definitions/SportList'
  /fixtures/special/settled:
    get:
      summary: Returns special fixtures settled in the last 24 hours
      tags:
        - name: Fixture
      parameters:
        - name: sportId
          in: query
          description: Sport id for which the leagues are requested
          required: true
          type: integer
      responses:
        200:
          description: Array of Sport type
          schema:
            $ref: '#/definitions/SportList'
definitions:
  GetFixturesResponse:
    type: object
    properties:
      sportId:
        type: integer
        format: int32
        description: Same as requested sport Id
      last:
        type: integer
        format: int64
        description: Use this value for the subsequent requests for since query parameter to get just the changes since previous response
      league:
        type: array
        description: Contains a list of Leagues
        items:
          $ref: '#/definitions/League'
  League:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: League ID
      events:
        type: array
        description: Contains a list of events
        items:
          $ref: '#/definitions/Event'
  Event:
    type: object
    properties:
      id:

      starts:
      home:
      away:
      rotNum:
      liveStatus:
      status:
      parlayRestriction:
      homePitcher:
      awayPitcher:
